

@media print{
  *{
    color: black !important;
    border-color: black !important;
  }

  a{
    color: black;
    text-decoration: none;
  }

  #text{
    color: black;
  }

  @page{
    margin: 0.25in;
  }
}