@media print{

  table{
    color: black;
    background-color: transparent;
    border: none;
  }

  th{
    color: black;
    border: none;
  }

  td{
    border-width: 1px;
    border-style: dashed none dashed none;
  }

  a{
    text-decoration: none;
    color: black;
  }
  
  @page{
    margin: 0.25in;
    size: landscape;
  }
}